<div class="container-fluid">
    <div class="row">
        <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
            <h1 class="page-header">Admin</h1>
            <p><h3>Users</h3></p>
            <table width="460" border="1" class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <a ng-click="reverseSort = !reverseSort">
                        <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                        Username
                        </a>
                    </th>
                    <th>
                        <a ng-click="reverseSort = !reverseSort">
                        <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                        Password
                        </a>
                    </th>
                    <th>
                        <a ng-click="reverseSort = !reverseSort">
                        <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
                        <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-top"></span>
                        Role
                        </a>
                    </th>
                    <th>Action</th>
                </tr>
                </thead>
              <tr>
                <td id="size1"><label for="username"></label>
                    <input ng-model="edit.username" type="text" name="username" id="username" class="form-control" placeholder="username"></td>
                <td id="size2"><label for="password"></label>
                    <input ng-model="edit.password" type="text" name="password" id="password" class="form-control" placeholder="password"></td>
                <td id="size3"><label for="role"></label>
                    <input ng-model="edit.roles" type="text" name="role" id="role" class="form-control" placeholder="role"></td>
                <td>&nbsp;
                    <a ng-click="addNewUser(edit); reloadUsers()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <a ng-click="updateCurrentUser(edit); reloadUsers()">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </td>
              </tr>
              <tr ng-repeat="usr in allusers | orderBy:sortData:reverseSort">
                <td>{{usr.username}}</td>
                <td>{{usr.password}}</td>
                <td>{{usr.roles.toString()}}</td>
                <td>&nbsp;
                    <a ng-click="removeCurrentUser(usr._id); reloadUsers()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <a ng-click="editCurrentUser(usr)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                </td>
              </tr>
          </table>
            <p>&nbsp;</p>
            <div class="row placeholders"></div>
<!--</div>-->
    </div>
</div>