<div class="page-content container">
    <div class="row">

        <div class="col-md-4 col-md-offset-2">
            <br><br>
            <div class="login-wrapper">
                <div class="box">
                    <div class="content-wrap">
                        <form ng-submit="updateUser()" method="post">
                            <h6>Profile</h6>
                            <input ng-model="model.newUser.username" class="form-control" type="text"
                                   placeholder="Username">
                            <input ng-model="model.newUser.password" class="form-control" type="password"
                                   placeholder="Password">
                            <input ng-model="model.newUser.firstName" class="form-control" type="text"
                                   placeholder="First Name">
                            <input ng-model="model.newUser.lastName" class="form-control" type="text"
                                   placeholder="Last Name">
                            <input ng-model="model.newUser.emails" class="form-control" type="text"
                                   placeholder="E-mail Address">
                            <div class="action">
                                <!--<a class="btn btn-primary signup" href="index.html">Sign Up</a>-->
                                <input ng-click="model.updateUser(model.newUser)" type="submit"
                                       class="btn btn-primary signup" value="Update"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>