#back{
     background-color: lightgray;
 }

#size{
    resize: horizontal; width: 300px;
}

#size1{
    resize: horizontal; width: 200px;
}

#size2{
    resize: horizontal; width: 200px;
}

#size3{
    resize: horizontal; width: 200px;
}

.font-forms{
    font-size: large;

}