<div class="container-fluid">
    <div class="row">
        <form class="form-horizontal" method="post">
        <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
            <h1 class="page-header">Login</h1>
            <table width="382" id="size">
              <tr>
                <td width="109">
                    <label for="Username" class="col-sm-2 control-label">Username:</label>
                </td>
                <td width="261">
                    <input ng-model="username" type="text" name="Username" id="Username" class="form-control" placeholder="Username">
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>
                    <label for="Password" class="col-sm-2 control-label">Password:</label>
                </td>
                <td>
                    <input ng-model="password" type="password" name="Password" id="Password" class="form-control" placeholder="Password">
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>
                    <input ng-click="login()" type="submit" class="btn btn-success" value="Login"/>
                </td>
              </tr>
            </table>
            <p>&nbsp;</p>
            <div class="row placeholders"></div>
        <!--</div>-->
        </form>
    </div>
</div>