<div class="container-fluid">
    <div class="row">
        <form class="form-horizontal" ng-submit="createUser()" method="post">
            <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">-->
                <h1 class="page-header">Register</h1>
                <table width="365" id="size">
                    <tr>
                        <td width="94">
                            <label for="Username" class="col-sm-2 control-label">Username:</label>
                        </td>
                        <td width="283">
                            <input ng-model="currentUser.username" type="text" name="Username" id="Username" class="form-control" placeholder="Username">
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Password" class="col-sm-2 control-label">Password:</label>
                        </td>
                        <td>
                            <input ng-model="currentUser.password" type="password" name="Password" id="Password" class="form-control" placeholder="Password">
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Verfiy Password" class="col-sm-2 control-label">Verify Password:</label>
                        </td>
                        <td>
                            <input ng-model="currentUser.verifypassword" type="password" name="Verify Password" id="Verfiy Password" class="form-control" placeholder="Verify Password">
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <label for="Email" class="col-sm-2 control-label">Email:</label>
                        </td>
                        <td>
                            <input ng-model="currentUser.emails" type="email" name="email" id="Email" class="form-control" placeholder="Email">
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <input ng-click="model.createUser(currentUser)" type="submit" class="btn btn-success" value="Register"/>
                        </td>
                    </tr>
                </table>
                <p>&nbsp;</p>
                <div class="row placeholders"></div>
            <!--</div>-->
        </form>
    </div>
</div>